body{
	background-color: #dddfe6;
}
.center{ 
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#cursor {
	width: 0.75em;
	height: 0.75em;
	border-radius: 50%;
	background-color: black;

	--x: 0;
	--y: 0;
	position: fixed;
	/* top: calc(var(--y) * 1px);
	left: calc(var(--x) * 1px); */
	top:-10px;
	left:-10px ;

	/* transition: all 10ms; */
}
.button-start{
	cursor: pointer;
	background-color: #252c41;
	border: 0;
	border-radius: 0.2em;
	color: #fff;
	padding: 1em 2em;

	font-size: 1.5em;
	font-weight: normal;

	margin-bottom: 2em;
}

.button-stop{
	cursor: pointer;
	background-color: #f1404b;
	border: 0;
	border-radius: 0.2em;
	color: #fff;
	padding: 1em 2em;

	font-size: 1.5em;
	font-weight: normal;

	margin-bottom: 2em;
}

.button-replay{
	cursor: pointer;
	background-color: #252c41;
	border: 0;
	border-radius: 0.2em;
	color: #fff;
	padding: 1em 2em;

	font-size: 1.5em;
	display: none;
	margin-bottom: 2em;
}